@import "tailwindcss";

@layer components {
  .skill-card {
    @apply p-6 rounded-lg shadow-md hover:shadow-lg transition cursor-default;
    background-color: var(--color-surface);
    border-left: 4px solid var(--color-accent);
    border-right: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }
  
  .skill-card:hover {
    box-shadow: 0 0 10px 0 var(--color-accent);
  }

  .skill-domain {
    @apply text-xl font-bold mb-4;
    color: var(--color-primary);
  }

  .skill-items {
    @apply list-disc list-inside space-y-2;
  }

  .skill-item {
    @apply text-sm md:text-base;
    color: var(--color-text-base);
  }

  .skill-name {
    @apply font-semibold text-base md:text-lg;
    color: var(--color-accent);
  }

  .skill-desc {
    @apply text-sm md:text-base text-(--color-text-muted);
  }
}
