@import "tailwindcss";

@layer components {
  .skill-card {
    @apply bg-neutral-900 p-6 rounded-lg shadow-md hover:shadow-lg transition cursor-default;
    border-left: 4px solid var(--color-primary);
  }

  .skill-name {
    @apply text-xl font-bold mb-1;
    color: var(--color-primary);
  }

  .skill-level {
    @apply text-gray-300 text-sm;
  }
}
