@import "tailwindcss";

@layer components {
  .timeline-card-title {
    @apply text-lg font-semibold mb-2 text-white;
  }

  .timeline-card-description {
    @apply text-gray-300 mb-1;
  }

  .timeline-card-year {
    @apply text-sm text-gray-400;
  }
}
