@import "tailwindcss";

@layer components {

  .philosophy-section p {
    @apply leading-relaxed text-lg md:text-xl;
    color: var(--color-text-base);
  }

  .section-title {
    @apply text-3xl md:text-4xl font-semibold mb-8;
    color: var(--color-primary);
  }
}
