@import "tailwindcss";

@layer components {
  .homepage-container {
    @apply max-w-5xl mx-auto px-4 py-8 space-y-16 flex flex-col justify-center;
  }

  .hero-section {
    @apply text-center space-y-4 py-20 bg-gradient-to-b from-neutral-900 via-neutral-950 to-neutral-900 rounded-lg relative overflow-hidden;
  }

  .hero-title {
    @apply text-6xl font-bold tracking-tight;
    color: var(--color-primary);
  }

  .hero-subtitle {
    @apply text-xl text-gray-300;
  }

  .section-title {
    @apply text-3xl font-semibold mb-6;
    color: var(--color-primary);
  }

  .hero {
    font-family: var(--font-header);
    @apply text-[8rem] font-extrabold inline-block text-center tracking-[0.08em];
    color: var(--color-primary);
  }
}

@media (max-width: 760px) {
  .hero {
    transform: scale(0.5);
  }  
}