@import "tailwindcss";

@layer components {
  .pinned-post-card {
    @apply p-6 bg-neutral-800 rounded-lg shadow-md hover:shadow-lg cursor-pointer transition border-l-4;
    border-left-color: var(--color-primary);
  }
}
