@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&family=Rajdhani:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: oklch(0.8 0.18 190);
  --color-bg: oklch(0.06 0.01 260);
  --color-surface: #171717;
  --color-border: rgba(0,200,250, 0.5);
  --color-text-base: oklch(0.9 0.01 260);
  --color-text-muted: oklch(0.7 0.02 260);
  --color-accent: oklch(0.8 0.18 190);
  
  --font-header: 'Tron', sans-serif;
  --font-titles: 'Orbitron', sans-serif;
  --font-body: "Rajdhani", sans-serif;
  --breakpoint-xl: 64rem;
}

.light {
  --color-primary: oklch(0.3 0.18 190);
  --color-bg: oklch(0.95 0.01 260);
  --color-surface: #ffffff;
  --color-border: rgba(0,100,125, 0.2);
  --color-text-base: oklch(0.1 0.01 260);
  --color-text-muted: oklch(0.5 0.02 260);
  --color-accent: oklch(0.3 0.18 190);
}

html, body {
  font-family: var(--font-body);
  overflow-y:visible;
  scrollbar-gutter: stable;
  background-color: var(--color-bg);
  color: var(--color-text-base);
  transition: background-color 0.3s, color 0.3s;
}

.section-title,
.post-title, 
.article-title,
label{
  font-family: var(--font-titles);
  letter-spacing: 0.08em;
  color: var(--color-accent);
}

.post-preview,
.post-meta,
.quote-text,
.hero-subtitle {
  font-family: var(--font-body);
  letter-spacing: 0.02em;
}

.hero-title {
  font-family: var(--font-header);
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.hero-subtitle {
  font-family: var(--font-body);
  letter-spacing: 0.06em;
}

@font-face {
  font-family: 'Tron';
  src: url("../public/fonts/Tr2n.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

